body { color: rgb(153, 153, 153); text-shadow: red 1px 2px 2px; margin: 0px; font-family: Papyrus; background: rgb(0, 0, 0); font-size: 1.5em; }
#header { padding: 1em; background-image: linear-gradient(to right bottom, rgb(0, 0, 0), rgb(85, 0, 0)); display: flex; justify-content: center; align-items: center; min-height: 70vh; flex-direction: column; }
#header img { max-width: 50rem; }
#header-gallery { padding: 2em; background-color: rgb(39, 35, 51); background-image: linear-gradient(to right bottom, rgb(199, 107, 15), rgb(162, 84, 4)); display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; }
#header-gallery h1 { margin: 0px; }
.top-button { position: absolute; top: 20px; right: 30px; }
.status-list { display: flex; flex-direction: row; gap: 24px; }
.status-list p { margin: 0px; }
.status-list > a.active { color: rgb(245, 148, 51); }
#footer { padding: 1em; text-align: center; background: rgb(87, 3, 3); }
a { color: red; }
#form-link { margin-top: 2em; margin-left: auto; margin-right: auto; padding: 0.5em; background: rgb(0, 0, 0); border-radius: 0.5em; box-shadow: rgb(255, 0, 0) 1px 1px 10px; }
.hoverable { transition: 0.3s; }
.hoverable:hover { transform: translateY(-5px); }
.boba-number { background-image: url("images/boba.svg"); width: 16px; height: 16px; text-align: center; padding: 4px; }
.container { padding: 1em; background-image: linear-gradient(to left bottom, rgb(85, 0, 0), rgb(0, 0, 0)); }
.section { max-width: 42em; margin-left: auto; margin-right: auto; }
.grid-steps { grid-template-columns: 1fr 1fr; display: grid; gap: 1em; max-width: 50rem; margin: 0px auto; }
#grid-gallery { grid-template-columns: 1fr 1fr 1fr; display: grid; gap: 1em; max-width: 70rem; margin: 0px auto; }
@media (max-width: 64rem) {
  #grid-gallery { grid-template-columns: 1fr 1fr; }
}
@media (max-width: 48rem) {
  .grid-steps { grid-template-columns: 1fr; }
  #grid-gallery { grid-template-columns: 1fr; }
}
.grid-submission { padding: 1em; background-color: blue; border-radius: 1em; }
.grid-submission > .links a { text-decoration: none; }
.submission-photo { height: 160px; background-size: cover; background-position: center center; margin-bottom: 6px; border-radius: 10px; }
.status { border-radius: 1em; padding: 3px 10px; font-size: 16px; }
.status.approved { background: green; }
.status.approved::after { content: "Approved"; }
.status.pending { background: rgb(196, 160, 0); }
.status.pending::after { content: "Pending"; }
.status.rejected { background: red; }
.status.rejected::after { content: "Rejected"; }
.links { margin-top: 8px; }
.github-button { background-color: blue; font-size: 18px; padding: 5px 10px; border-radius: 5px; }
.demo-button { background-color: blue; font-size: 18px; padding: 5px 10px; border-radius: 5px; }
.item-step { padding: 1em; color: red; display: flex; position: relative; aspect-ratio: 2 / 1; }
.item-text { position: absolute; bottom: 0px; right: 1rem; color: rgb(255, 255, 255); font-size: 20px; font-weight: bold; text-shadow: rgb(226, 1, 1) 1px 1px 8px; }
#subtitle { display: inherit; }
.yt-embed { margin-left: auto; margin-right: auto; border-radius: 1em; }
.spacer { margin: 1em; }
.banner { position: absolute; top: -10px; left: var(--spacing-4); }
.banner img { height: 80px; }
.banner:hover img { animation: 0.5s linear infinite alternate wave-flag; }
@media (prefers-reduced-motion: reduce) {
  .banner:hover img { transition: transform 0.1875s cubic-bezier(0.375, 0, 0.675, 1); transform-origin: left top; }
}
@keyframes wave-flag { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-5deg); }
}
button { background-color: rgb(0, 0, 0) !important; }
.announcement-banner { position: fixed; top: 10px; left: 50%; transform: translateX(-50%); background-color: rgb(0, 0, 0); width: auto; padding: 0.5em 1em; border-radius: 10px; text-align: center; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px; z-index: 1000; cursor: pointer; }
.announcement-text { font-size: 20px; font-weight: bold; color: white; letter-spacing: 1px; }
.additional-info { display: none; margin-top: 10px; font-size: 16px; color: rgb(0, 0, 0); background-color: rgb(255, 28, 28); padding: 1em; border-radius: 10px; }
.container > h3 { text-align: center; margin: 0px auto; padding-bottom: 1em; }
.event-code-form { display: flex; margin-top: 30px; gap: 10px; }
.event-code-input { background-color: rgb(115, 62, 8); border: medium; padding: 0.7em; border-radius: 0.5em; color: rgb(246, 209, 147); font-family: Fraunces, monospace; }
.event-code-input::placeholder { color: rgb(246, 209, 147); font-size: 1.2em; font-family: Fraunces, monospace; }
.event-code-input:focus { outline: currentcolor; box-shadow: rgb(246, 209, 147) 0px 0px 5px; }
.event-code-button { border: 0px; padding: 0.7em; border-radius: 0.5em; color: rgb(0, 0, 0); background-color: rgb(0, 0, 0); cursor: pointer; font-family: Fraunces, monospace; }
.event-code-button:focus { outline: currentcolor; box-shadow: rgb(246, 209, 147) 0px 0px 5px; }
